body{
background-color: gray;
z-index: -1;
color:black;
font-family: 'Times New Roman', Times, serif;
margin-top: 0;
margin-bottom: 0;
}

h1 {
    color:red;
    margin-top: 0;
}

section{
height: 90%;
width: 90%;
margin: auto;
margin-top: 0%;
background-color:  azure;
padding: 25px 10px;
}
img{
    border-radius: 50px;
}

strong{
    color: blue;
}

dt, ol{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}